@import './../../styles/styles.scss';


.Profile {
    display: flex;
    padding: 2rem 2rem 0;

    .show {
        display: flex;
        width: 25%;
        opacity: 1;
        transition: ease-in 0.1s 0.5s;
    }

    .hide {
        width: 0%;
        opacity: 0;
        transition: ease-in 0.1s 0.5s;
    }

    &__leftside {
        display: flex;
        width: 25%;
    }

    &__tabs {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $bgColor;
    }

    &__content {
        margin-top: 1rem;
    }
}